*{
    margin: 0;
    padding: 0;
}

a{
    list-style-type: none;
}

.article-img{
    background-image: url(./Images/breathe.jpg);
    background-size: cover;
    max-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-custom{
    background-color: bisque;
}

.btn-red{
    background-color: rgb(236, 88, 88);
}

.btn-purple{
    background-color: rgb(163, 159, 244);
}

.div-gradient {
    background: linear-gradient(45deg, #959191, #fcfbfb);
    color: white;
  }

.btn-orange{
    background-color: #e6c244;
    color: white;
}